config/wandb_params.json
local_explanations/BA_multipleShapes_MC_circle_house_with_pred_128hidden/
local_explanations/BA_multipleShapes_MC_circle_triangle_with_pred/
local_explanations/BA_multipleShapes_MC_circle_triangle_with_pred_128hidden/
local_explanations/MUTAG/
local_explanations/BA_multipleShapes_maxAcc_with_pred/